.container{
    background-color: hsl(0, 100%, 74%);
    background-image: url(../../assets/images/bg-intro-desktop.png);
    max-width: 100%;
    height: 100%; 
    object-fit: cover;
}
.myForm{
    display: flex;
    /* width: 100vw; */
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.description{
    color: white;
    width: 90%;
    overflow: hidden;
    margin-right: 10px;
}
.reactiveForm{
    height: 100%; 
    width: 100%;
    overflow: hidden;
    padding: 10px;
    margin-left: 10px;
}

header{
    font-size: 45px;
    font-weight: 900;
    line-height: 110%;
    padding-bottom: 10px;
}
.description>p{
    padding-top: 10px;
}

button{
    box-shadow: 0 15px 15px -15px rgb(31, 31, 31);
    color: white;
    border-radius: 7px;
}
#trialBtn{
    background-color: hsl(248, 32%, 49%);
    color: white;
    text-align: center; 
    font-weight: 100;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid hsl(248, 32%, 49%);
    width: 100%;
}
#tryFree{
   font-weight:900; 
}
.reactiveForm>form{
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 20px 20px -15px rgb(31, 31, 31);
}

form>p{
    margin-top: 10px;
    color: gray;
    font-size: x-small;
}
#terms{
    color: red;
    font-weight: 800;
}
input{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 10px 0;
}
input::placeholder{
    color: gray;
    /* font-family: Poppins; */
    font-weight: 800;
}

#submitBtn{
    background-color: hsl(154, 58%, 47%);
    font-weight: 900;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid hsl(154, 58%, 47%);
}

@media screen and (max-width: 480px) {
    .container{
        background-image: url(../../assets/images/bg-intro-mobile.png); 
        max-width: 100%;
        height: auto; 
        object-fit: cover;
    }
    .myForm {
        width: 100vw;
        height: auto;
        flex-direction: column;
        padding: 30px;
    }
    .description{
        width: 100%;
        padding: 10px;
        height: auto;
        text-align: center;
    }
    .reactiveForm{
        width: 100%;
        height: auto;
        padding: 10px;
    }
    
    header{
        width: 100%;
        font-size: 8vw;
        padding: 10px;
    }
    .description>p{
        width: 100%;
        font-size: 3.5vw;
        padding: 10px;
    }
    .reactiveForm>form{
        height: auto;
        padding: 25px;
    }
    form>p{
        margin-top: 5px;
        font-size: 2.7vw;
        text-align: center;
    }
}