<div>
    <h2>Meet Felix</h2>
    <p class="lead-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
</div>
<div class="row row-columns row-padding">
    <div class="column column-padding col-md-4">
    <i class="text-primary icon ion-social-github-outline"></i>
    <h3>Functional</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quae provident enim cum quidem aut corporis</p>
    </div>
    <div class="column column-padding col-md-4">
    <i class="text-primary icon ion-ios-cloud-download-outline"></i>
    <h3>Easy customize</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quae provident enim cum quidem aut corporis</p>
    </div>
    <div class="column column-padding col-md-4">
    <i class="text-primary icon ion-social-android-outline"></i>
    <h3>Modern &amp; Creative</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quae provident enim cum quidem aut corporis</p>
    </div>
</div>

<app-footer></app-footer>
